/* Main stylesheet for Seven Seas Spa */

/* Change navbar font color */
.navbar-nav .nav-link, .navbar-brand {
    color: #3B2f2f !important;
}

/* Hero Section Styles */
.hero-section {
    min-height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    color: #FFEBD4;
}
.hero-section h1 {
    font-family: 'Handlee', cursive;
    color: #FFEBD4;
}

.hero-section .btn {
    color: #3B2F2F;
}
}

